
<configuration>
  <system.webServer>

    <iisnode node_env="production" nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
          <mimeMap fileExtension=".md" mimeType="text/markdown" />
            <remove fileExtension=".xlsx" />
            <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".xlsx" allowed="true" />
                    <add fileExtension=".md" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>

  </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
            <handlers>
                <add name="iisnode" path="/server.js" verb="*" modules="iisnode" />
            </handlers>
        </system.webServer>
    </location>
    <system.web>
        <trust level="Full" />
        <authentication mode="Forms" />
    </system.web>
</configuration>
