<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="https://esasis.esa.edu.lb/{R:0}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
