@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background-color: #002857; 
  --main-hover-color: #12437b; 
  --main-active-color: #2b6ab3; 
  --main-text-color: white;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-gray-100;
  background-color: #fff;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

a {
  @apply text-blue-600 hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/*  Format For Classes */
.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-lg;
}

.primary-button {
  @apply rounded bg-primary text-white py-2 px-4 shadow outline-none hover:bg-secondary hover:font-bold active:bg-third disabled:bg-gray-400 ;
}

.primary-bg{
  @apply bg-white;
}
/* .primary-button {
  @apply rounded bg-primary py-2 px-4 shadow outline-none hover:bg-secondary  active:bg-third disabled:bg-gray-400;
} */
.default-button {
  @apply rounded bg-gray-100 py-2  px-4 text-black shadow outline-none hover:bg-gray-200  active:bg-gray-300;
}

input:not([type='file']),
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}
label {
  width: 250px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  line-height: 1.7;
  overflow: auto;
  height: auto;
  padding: 8px;
}
.MuiDataGrid-root .MuiDataGrid-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
  text-align: center;
  padding: 5px !important;
}

.fc-col-header-cell-cushion {
  color: black;
}
.fc-daygrid-day-number {
  color: black;
}
.fc-event-title {
  margin: 1px;
  padding-top: 1px;
  margin-top: 5px;
  white-space: normal;
  font-size: 12px;
}
.fc-event-time {
  margin: 1px;
  padding: 1px;
  white-space: normal;
  font-size: 0.9em;
  width: 3em;
}
.fc-day {
  white-space: normal;
  font-size: 0.9em;
}
.fc-month {
  white-space: normal;
  font-size: 0.9em;
}
.fc-today-button {
  background-color: darkgray !important;
  color: black !important;
  cursor: pointer;
}
.fc-today-button:hover {
  background-color: darkblue !important;
  color: white !important;
}
.fc-dayGridMonth-button {
  background-color: darkgray !important;
  color: black !important;
  cursor: pointer;
}
.fc-dayGridMonth-button:hover {
  background-color: darkblue !important;
  color: white !important;
}

.fc-timeGridWeek-button {
  background-color: darkgray !important;
  color: black !important;
  cursor: pointer;
}
.fc-timeGridWeek-button:hover {
  background-color: darkblue !important;
  color: white !important;
}
.fc-timeGridDay-button {
  background-color: darkgray !important;
  color: black !important;
  cursor: pointer;
}
.fc-timeGridDay-button:hover {
  background-color: darkblue !important;
  color: white !important;
}

.fc-button-active {
  background-color: rgb(46, 46, 218) !important;
  color: white !important;
}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Libre+Franklin:wght@500&family=Montserrat:wght@300&display=swap');


.log {
  margin-top: 79px;
  margin-left: 69px !important;
}
.welcomeTo{ 
  font-family: 'Montserrat';
  font-size: 30px;
  color: #707070;
  letter-spacing: 0px;
}
.SIS {
  font-family: 'Montserrat';
  font-size: 35px;
  color: #707070;
  font-weight: bold;
  letter-spacing: 0px;
}
.formDiv{ 
  margin-left: 69px !important;
  
}
.inputT{ 
  border-radius: 21px !important;
  outline: transparent;
  border: 1px solid #707070;
  width: 300px !important;
  overflow: none !important;
}
.inputT:focus{ 
  outline-color: transparent !important;
}
.passwordVisibility{
  margin-left: 270px;
  margin-top: -35px;
}

/* .btnCol{ 
  background-color: #3D709A;
} */



@media only screen and (max-width: 500px){
  .imageRes{ 
    display: none;
  }
  .log{ 
    margin-left: 50px;
    font-size: 200px;
  }
  .SIS{ 
    position: absolute;
    margin-top: 0px;
  }
  .btn{ 
    margin-bottom: 20px;
  }
 
}
@media only screen and (max-width: 400px){
  .imageRes{ 
    display: none;
  }
  .log{ 
    margin-left: 50px;
    font-size: 200px;
  }
  .welcometoSis { 
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
  }
  .SIS{ 
    margin-left: 80px;
    position: static;
  }
  
}
@media only screen and (max-width: 500px){
 .esaLogo{ 
  margin: auto;
 } 
 .welcometoSis{ 
  position: absolute;
  margin-top: 120px;
 }
 .SIS{ 
  margin-left: 206px;
  margin-top: -14%;
 }
 .login{ 
  margin-left: 60px !important;
 }
 .error{ 
  margin-left: 30px !important;
 }
 
}

/* Change the background color of the previous button (left arrow) */
.fc .fc-button-primary {
  background-color: var( --main-background-color);
}
.fc-today-button{
  background-color: var(--main-background-color) !important;
  color: var(--main-text-color) !important;
  cursor: pointer;
}
.fc-today-button:hover{
  background-color: var(--main-hover-color) !important;
  color: var(--main-text-color) !important;
  cursor: pointer;
}
.fc-timeGridWeek-button {
  background-color: var(--main-background-color) !important;
  color: var(--main-text-color) !important;
  cursor: pointer;
}
.fc-timeGridWeek-button:hover {
  background-color: var(--main-hover-color) !important;
  color: var(--main-text-color) !important;
  cursor: pointer;
}

.fc-timeGridDay-button {
  background-color: var(--main-background-color) !important;
  color: var(--main-text-color) !important;
  cursor: pointer;
}
.fc-timeGridDay-button:hover {
  background-color: var(--main-hover-color) !important;
  color: var(--main-text-color) !important;
  cursor: pointer;
}
.fc-button-active {
  background-color: var(--main-background-color) !important;
  color: var(--main-text-color) !important;
}
.fc-button-active:hover{
  background-color: var(--main-hover-color) !important;
  color: var(--main-text-color) !important;
}
.fc-today-button:active{
  background-color: var(--main-hover-color) !important;
  color: var(--main-text-color) !important;
  cursor: pointer;
}
.fc .fc-button-primary:hover{
  background-color: var(--main-hover-color);
  color: var(--main-text-color) !important;
}
.fc .fc-button-primary:active{
  background-color: var(--main-active-color);
}
.fc .fc-today-button .fc-button .fc-button-primary{
  background-color: var(--main-background-color);
}
.fc .fc-today-button .fc-button .fc-button-primary:hover{
  background-color: var(--main-hover-color);
}

.fc-listWeek-button .fc-button .fc-button-primary{
    background-color: var(--main-background-color);
}
.fc-dayGridMonth-button {
  background-color: var(--main-background-color) !important;
  color: var(--main-text-color) !important;
  cursor: pointer;
}
.fc-dayGridMonth-button:hover {
  background-color: var(--main-hover-color) !important;
  color: var(--main-text-color) !important;
}
.fc-dayGridMonth-button:active {
  background-color: var(--main-background-color) !important;
  color: var(--main-text-color) !important;
}

.fc .fc-button-primary:focus {
  box-shadow: none;
}
.fc .fc-button:focus {
  box-shadow: none;
  outline: 0px;
}
.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none;
}